@font-face {
  font-family: "Ubuntu-Bold";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Ubuntu-Bold") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
}
@font-face {
  font-family: "Ubuntu-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
}
html {
  box-sizing: border-box;
  min-width: 52px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Ubuntu-Bold";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

p {
  font-family: "Ubuntu-Regular";
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.container {
  padding: 0 40px;
}

.btn {
  border-radius: 4px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-image: url(../images/header_bg.webp);
  background-repeat: no-repeat;
  background-position: bottom 100% right 29%;
  background-size: 100%;
  height: 800px;
  overflow: hidden;
  color: #fff;
}
.hero_bg {
  background: linear-gradient(to right, #232340, transparent);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 160px;
  justify-content: space-between;
}
.hero_offer {
  display: flex;
  gap: 56px;
  flex-direction: column;
  width: 863px;
  justify-self: flex-start;
  padding: 250px 0px 247px 240px;
}
.hero_article {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.hero_cta {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.hero_cta a {
  color: #fff;
  font-family: "Ubuntu-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero_cta input {
  background-image: url(../images/email_arrow.svg);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 4px;
  border: none;
  flex: 1.5;
  color: #fff;
  font-family: "Ubuntu-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.hero_cta a {
  background-color: #5468e7;
  flex: 1;
}
.hero_cta_item {
  height: 47px;
  display: flex;
  align-items: center;
  padding: 11px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 240px;
  position: fixed;
  width: 100%;
  height: 100px;
}
.header_logo {
  width: 138px;
  height: 52px;
}
.header_nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}
.header_nav a {
  color: #fff;
}
.header_burger {
  display: none;
}
.header_item {
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
  color: #f5f5f5;
  text-shadow: 0px 8px 16px rgba(35, 35, 64, 0.6);
}
.header_item_btn {
  border-radius: 4px;
  width: 184px;
  background: rgba(84, 104, 231, 0.5);
  font-family: "Ubuntu-Medium";
}

.main {
  background-color: rgba(2, 0, 26, 0.89);
}

.secondary {
  background-color: rgba(164, 158, 232, 0.91);
}

.info_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  padding: 60px 340px;
}
.info_article h1 {
  padding-bottom: 24px;
}
.info_article p {
  padding-bottom: 48px;
}
.info_article a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Ubuntu-Medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-decoration-line: underline;
  color: #5468e7;
  width: -moz-fit-content;
  width: fit-content;
}

.rev {
  flex-direction: row-reverse;
}

.comments {
  display: flex;
  flex-direction: column;
}
.comments h1 {
  margin-bottom: 120px;
  text-align: center;
}
.comments img {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  padding-right: 140px;
}

.dark {
  color: #232340;
}
.dark a {
  color: #232340;
}

.heading {
  padding-left: 355px;
  padding-top: 160px;
  padding-bottom: 80px;
}

.blog_cardrow {
  padding: 0 240px;
}
.blog_cardrow_item {
  display: flex;
  flex-direction: column;
  width: 367px;
  border-radius: 8px;
  box-shadow: 0px 18px 24px 0px rgba(118, 118, 178, 0.28);
}
.blog_cardrow_item img {
  border-radius: 8px 8px 0 0;
}
.blog_cardrow_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.blog_card_placeholder {
  background-color: #fff;
  padding: 24px 16px 16px 16px;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 15px;
}
.blog_card_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
}
.blog_card_name {
  font-family: "Ubuntu-Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #5468e7;
}
.blog_card_descr {
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14px;
  color: #232340;
}
.blog_card_artistname, .blog_card_date {
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14px;
}
.blog_card_artist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
}
.blog_card_artist p {
  padding: 0 8px;
}
.blog_card_date {
  border-left: 1px solid #7676b2;
}
.blog_card_btn {
  color: #fff;
}

.blog_btn {
  width: 200px;
  background: rgba(84, 104, 231, 0.5);
  font-family: "Ubuntu-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.blog_nextbtn {
  display: flex;
  justify-content: center;
  padding: 120px 0 161px 0;
}

.post_headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 56px;
  width: 764px;
  margin: 0 auto;
  padding: 150px 0 56px 0;
}
.post_img {
  width: 962px;
  align-self: center;
}
.post_author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  padding-bottom: 120px;
  border-bottom: 1px solid #bbc8d4;
}
.post_author img {
  width: 64px;
  height: 64px;
}
.post_article {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 336px;
}
.post_article h4 {
  font-family: "Ubuntu-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  color: #c897e4;
}
.post_article h3 {
  font-family: "Ubuntu-Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #232340;
}
.post_article p {
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14px;
  color: rgba(35, 35, 64, 0.6);
}

.post_comment {
  padding-top: 64px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.post_comment p {
  font-family: "Ubuntu-Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #232340;
}
.post_comment_block {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.post_comment_block img {
  height: 56px;
  width: 56px;
}

.comment_block {
  width: 692px;
  height: 199px;
  border: 2px solid var(--Desaturated-Blue, #7676b2);
}

.footer {
  background-color: #232340;
}
.footer_inner {
  display: flex;
  flex-direction: row;
  padding-bottom: 171px;
  padding: 95px 160px 171px 160px;
  align-items: flex-start;
  justify-content: center;
  gap: 80px;
  color: #fff;
}
.footer_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer_link {
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14px;
}
.footer_copyright {
  padding: 0px 0px 37px 215px;
  color: #fff;
  font-family: "Ubuntu-Regular";
}
.footer input {
  height: 47px;
  background-color: rgba(245, 245, 245, 0.24);
  border: none;
  color: #fff;
  font-family: "Ubuntu-Regular";
}
.footer h3 {
  color: #5468e7;
  font-family: "Ubuntu-Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.footer a {
  color: #fff;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: "Ubuntu-Bold";
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: "Ubuntu-Bold";
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-family: "Ubuntu-Regular";
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a {
  margin-top: 20px;
  font-family: "Ubuntu-Regular";
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #232340;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #7676b2;
  color: #7676b2;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}
.modal-window {
  position: fixed;
  background-color: rgba(33, 31, 33, 0.76);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal_div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal_div header {
  font-weight: bold;
}

.modal_div input {
  height: 27px;
  padding: 0 16px;
  width: 100%;
}

.modal_text {
  color: #232340;
}

.modal_btn {
  background-color: #7676b2;
  color: #fff;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: black;
}

/* Demo Styles */
.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #232340;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: 2px solid #aaa;
}

#myBtn:hover {
  background-color: #555;
}/*# sourceMappingURL=style.css.map */